#appIcon{
  padding: 10px;
  width: 25%;
  margin: auto;
  display: block;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
}

.App {
  width:100%;
  box-sizing: border-box;
}

.dashboard {
  padding-top: 30px;
}

#combo-box-demo{
  width: 100%;
}

.icon-hover:hover {
  color: blue; /* Change to whatever color you want on hover */
}

.toggle-menu:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.upload-image-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 4px dashed rgb(206, 206, 206);
  border-radius: 10px;
  margin: 20px auto;
}

.prediction-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
}
